h2{
    color:brown;
}

li{
    margin-right: 60%;
}

#electrolize-regular {
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    margin:  1cm;
    height: 100vh; /* Full height */
    background-image: url(../CV/assets/Background1.jpg);
    background-position-x: 0cm;
    background-size: 50%;
    background-repeat:repeat-y; /* Prevent repeating */
    font-family: "electrolize static";
  }
